SPRING_PROFILES_ACTIVE=dev

DB_URL=jdbc:mariadb://localhost:3306/murang?sslMode=disable
DB_USERNAME=murang_app
DB_PASSWORD=change-me

MURANG_JWT_SECRET=BASE64_ENCODED_AT_LEAST_64_BYTES_PLEASE_REPLACE
MURANG_JWT_ISSUER=murang-backend
MURANG_JWT_ACCESS_TTL=1800
MURANG_JWT_REFRESH_TTL=604800

META_JWKS_URL=https://www.oculus.com/.well-known/jwks.json
META_ID_TOKEN_ISSUER=https://www.oculus.com
META_APP_ID=YOUR_META_APP_ID
